.canvas {
    position: relative;
    
    width: 500px;
    height: 380px;
    margin: 80px 0 0 0;
    
    transition: .3s ease;
    
    perspective: 800px;
}

.box_front {
    position: relative;
    
    overflow: hidden;
    
    width: 500px;
    height: 380px;
    
    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;
}

/*TODO
Цвета неба задаются следующими свойствами:
    День:
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    Вечер:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    Ночь:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
        
Нужно реализовать плавный переход между ними и зациклить его.
*/

.ship::after {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100px;
    height: 20px;
    
    content: '';
    
    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before {
    position: absolute;
    top: 0;
    left: 10px;
    
    width: 65px;
    height: 16px;
    
    content: '';
    
    border-radius: 20px 0 0 0;
    background: #fff;
}

.ship {
    position: absolute;
    right: 0;
    bottom: 30px;
    
    width: 100px;
    height: 36px;
}

.ship_smokestack {
    position: absolute;
    bottom: 36px;
    left: 45px;
    
    width: 10px;
    height: 17px;
    
    background: #a18e6e;
}

.ship_window {
    position: absolute;
    top: 6px;
    left: 40px;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div {
    position: absolute;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #fff;
}

.smoke-1 {
    top: -25px;
    right: 44px;
}

.smoke-2 {
    top: -25px;
    right: 42px;
}

.smoke-3 {
    top: -25px;
    right: 49px;
}

.sun {
    position: absolute;
    top: 330px;
    /* top: 30px; */
    right: 50%;
    
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;
}

.sun-wrapper {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    transform-origin: bottom center;
}

.sun div {
    position: absolute;
    top: -20px;
    left: 50%;
    
    width: 2px;
    height: 100px;
    margin-left: -1px;
    
    border: solid #ffcf11;
    border-width: 10px 0 10px 0;
}

.sun div:nth-child(2) {
    transform: rotate(18deg);
}

.sun div:nth-child(3) {
    transform: rotate(36deg);
}

.sun div:nth-child(4) {
    transform: rotate(54deg);
}

.sun div:nth-child(5) {
    transform: rotate(72deg);
}

.sun div:nth-child(6) {
    transform: rotate(90deg);
}

.sun div:nth-child(7) {
    transform: rotate(-18deg);
}

.sun div:nth-child(8) {
    transform: rotate(-36deg);
}

.sun div:nth-child(9) {
    transform: rotate(-54deg);
}

.sun div:nth-child(10) {
    transform: rotate(-72deg);
}

.cloud {
    position: absolute;
    left: -180px;
    
    width: 200px;
    height: 60px;
    
    opacity: .8;
    border-radius: 200px;
    background: #fff;
}

.cloud:before,
.cloud:after {
    position: absolute;
    top: -15px;
    left: 10px;
    
    width: 100px;
    height: 80px;
    
    content: '';
    
    border-radius: 100px;
    background: #fff;
}

.cloud:after {
    top: -55px;
    right: 15px;
    left: auto;
    
    width: 120px;
    height: 120px;
}

/* keyframes */
@keyframes cloud1 {
    from { transform: translateX(0px) scale(.2); }
    to { transform: translateX(800px) scale(.2); }
}

@keyframes cloud2 {
    from { transform: translateX(0px) scale(-0.3, .3); }
    to { transform: translateX(800px) scale(-0.3, .3); }
}

@keyframes cloud3 {
    from { transform: translateX(0px) scale(.5); }
    to { transform: translateX(800px) scale(.5); }
}

@keyframes cloud4 {
    from { transform: translateX(0px) scale(-0.6, .6); }
    to { transform: translateX(800px) scale(-0.6, .6); }
}

@keyframes sun {
    from { 
        transform: rotate(-360deg) translateX(-345px) rotate(-1440deg); 
    }
    to { 
        transform: rotate(0deg) translateX(-345px) rotate(0deg);
     }
}

@keyframes ship {
    from { transform: translateX(100px); }
    to { transform: translateX(-800px); }
}

@keyframes day {
    0% {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
    70% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }
    90% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }
    100% {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
}

@keyframes smoke1 {
    from {
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
    to {
        transform: translateY(-20px) scale(2);
        opacity: 0;
    }
}

@keyframes smoke2 {
    from {
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
    to {
        transform: translateY(-15px) scale(1.5);
        opacity: 0;
    }
}

@keyframes smoke3 {
    from {
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
    to {
        transform: translateY(-18px) scale(1.5);
        opacity: 0;
    }
}

.smoke-1 {
    animation: smoke1 1s ease-out infinite;
}

.smoke-2 {
    animation: smoke2 2s linear infinite;
}

.smoke-3 {
    animation: smoke3 3s ease-out infinite;
}

.box_front {
    animation: day 60s linear infinite forwards;
}

.ship {
    animation: ship 60s linear infinite;
}

.sun {
    animation: sun 60s linear infinite;
}

.cloud-1 {
    top: 10px;
    animation: cloud1 26s linear infinite normal;
}

.cloud-2 {
    top: 50px;
    animation: cloud2 25s linear infinite normal;
}

.cloud-3 {
    top: 100px;
    animation: cloud3 21s linear infinite normal;
}

.cloud-4 {
    top: 170px;
    animation: cloud4 15s linear infinite normal;
}



.sea {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 40px;
    
    opacity: .8;
    background: #2a94d6;
}

.sea::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 10px;
    
    content: '';
    
    background: #1d7fbb;
}
